@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #0e796c;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --verde-degrade: linear-gradient(97.54deg, #053731 35.49%, #0e796c 165.37%);
    --cinza-claro: #adadad;
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

